<div id='home-page'>
  <h1><a href='' class='js-login'>Login</a></h1>
</div>

<div id='pick-weapon-page'>
  <h1>Hi <span class='js-user-name'></span></h1>
  <h2>Pick your weapon</h2>
  <a href='' class='js-pick-weapon' data-weapon='weapon1'>Weapon 1</a>
  <a href='' class='js-pick-weapon' data-weapon='weapon2'>Weapon 2</a>
  <a href='' class='js-pick-weapon' data-weapon='weapon3'>Weapon 3</a>
</div>

<div id='game-page'>
  <h1>You're using <span class='js-weapon'></span></h1>
  <div id='game-circle'></div>
</div>

<div id='results-page'>
  <div class='js-friend'>
    <img>
  </div>

  <div class='js-friend'>
    <img>
  </div>

  <div class='js-friend'>
    <img>
  </div>

  <div class='js-friend'>
    <img>
  </div>
</div>
